In [23]:
# # !pip install secedgar

# from secedgar import filings, FilingType

# import nest_asyncio
# nest_asyncio.apply()

In [24]:
#FIXME: For some reason, the API does not seem to work properly and returns "Forbidden" error, so I went ahead and downloaded the data manually and saved it in the data folder.
# my_filings = filings(cik_lookup=["Renaissance Technologies LLC"],
#                      filing_type=FilingType.FILING_13FHR,
#                      user_agent="John")
# my_filings.save('./data/')

In [25]:
import pandas as pd

In [26]:
# get the data from the xml files
bridgewater = pd.read_xml("./data/bridgewater.xml")
citadel = pd.read_xml("data/citadel.xml")
deshaw = pd.read_xml("data/deshaw.xml")
mlp = pd.read_xml("data/MLP.xml")
rennaissance = pd.read_xml("data/renaissance.xml")
twosigma = pd.read_xml("data/twosigma.xml")

In [27]:
# get rid of the spacing of company names
bridgewater["nameOfIssuer"] = bridgewater["nameOfIssuer"].str.strip()
citadel["nameOfIssuer"] = citadel["nameOfIssuer"].str.strip()
deshaw["nameOfIssuer"] = deshaw["nameOfIssuer"].str.strip()
mlp["nameOfIssuer"] = mlp["nameOfIssuer"].str.strip()
rennaissance["nameOfIssuer"] = rennaissance["nameOfIssuer"].str.strip()
twosigma["nameOfIssuer"] = twosigma["nameOfIssuer"].str.strip()

In [28]:
print(len(bridgewater))
print(len(citadel))
print(len(deshaw))
print(len(mlp))
print(len(rennaissance))
print(len(twosigma))

820
17973
6087
6550
4073
2767

In [29]:
# only get companies with unique cusips in each portfolio 

test =[]

test.append(bridgewater.drop_duplicates(subset=['cusip'], keep='first')['cusip'])

test.append(citadel.drop_duplicates(subset=['cusip'], keep='first')['cusip'])

test.append(deshaw.drop_duplicates(subset=['cusip'], keep='first')['cusip'])

test.append(mlp.drop_duplicates(subset=['cusip'], keep='first')['cusip'])

test.append(rennaissance.drop_duplicates(subset=['cusip'], keep='first')['cusip'])

test.append(twosigma.drop_duplicates(subset=['cusip'], keep='first')['cusip'])

In [30]:
test = set(test[0])

In [31]:
# convert set to list 
test = list(test)
test.sort()
len(test)

820

In [32]:
# make a master_list with all portfolios and add what portfolio they're from

master_list = pd.DataFrame(columns = bridgewater.columns)

bridgewater['FromPortfolio'] = 'Bridgewater'
citadel['FromPortfolio'] = 'Citadel'
deshaw['FromPortfolio'] = 'Deshaw'
mlp['FromPortfolio'] = 'MLP'
rennaissance['FromPortfolio'] = 'Renaissance'
twosigma['FromPortfolio'] = 'TwoSigma'

master_list = master_list.append(bridgewater)
master_list = master_list.append(citadel)
master_list = master_list.append(deshaw)
master_list = master_list.append(mlp)
master_list = master_list.append(rennaissance)
master_list = master_list.append(twosigma)


master_list

/var/folders/7v/fnty77f15pvft5brytn_pq300000gn/T/ipykernel_1555/3373137142.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  master_list = master_list.append(bridgewater)
/var/folders/7v/fnty77f15pvft5brytn_pq300000gn/T/ipykernel_1555/3373137142.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  master_list = master_list.append(citadel)
/var/folders/7v/fnty77f15pvft5brytn_pq300000gn/T/ipykernel_1555/3373137142.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  master_list = master_list.append(deshaw)
/var/folders/7v/fnty77f15pvft5brytn_pq300000gn/T/ipykernel_1555/3373137142.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  master_list = master_list.append(mlp)
/var/folders/7v/fnty77f15pvft5brytn_pq300000gn/T/ipykernel_1555/3373137142.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  master_list = master_list.append(rennaissance)
/var/folders/7v/fnty77f15pvft5brytn_pq300000gn/T/ipykernel_1555/3373137142.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  master_list = master_list.append(twosigma)

,nameOfIssuer,titleOfClass,cusip,value,shrsOrPrnAmt,investmentDiscretion,votingAuthority,FromPortfolio,putCall,otherManager
0,10X GENOMICS INC,CL A COM,88025U109,475323,NaN,SOLE,NaN,Bridgewater,NaN,NaN
1,1LIFE HEALTHCARE INC,COM,68269G107,331008,NaN,SOLE,NaN,Bridgewater,NaN,NaN
2,360 DIGITECH INC,AMERICAN DEP,88557W101,25306218,NaN,SOLE,NaN,Bridgewater,NaN,NaN
3,3M CO,COM,88579Y101,3448420,NaN,SOLE,NaN,Bridgewater,NaN,NaN
4,ABBOTT LABS,COM,002824100,243820644,NaN,SOLE,NaN,Bridgewater,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2762,ZTO EXPRESS CAYMAN INC,SPONSORED ADS A,98980A105,2475775,NaN,SOLE,NaN,TwoSigma,None,NaN
2763,ZUMIEZ INC,COM,989817101,209856,NaN,SOLE,NaN,TwoSigma,None,NaN
2764,ZUORA INC,COM CL A,98983V106,7294335,NaN,SOLE,NaN,TwoSigma,None,NaN
2765,ZYMEWORKS DEL INC,COM,98985Y108,296416,NaN,SOLE,NaN,TwoSigma,None,NaN
2766,ZYNERBA PHARMACEUTICALS INC,COM,98986X109,37667,NaN,SOLE,NaN,TwoSigma,None,NaN

In [33]:
# check for duplicates and remove them
master_list = master_list.drop_duplicates(subset=['cusip'], keep='first')

master_list = master_list[master_list['cusip'].isin(test)]

# drop shrsOrPrnAmt	investmentDiscretion	votingAuthority	FromPortfolio	putCall	otherManager
master_list = master_list.drop(columns=['shrsOrPrnAmt', 'investmentDiscretion', 'votingAuthority', 'FromPortfolio', 'putCall', 'otherManager'])

# master_list export to csv 
master_list.to_csv('master_list.csv')

master_list.sort_values(by=['value'], ascending=False)

                     nameOfIssuer     titleOfClass      cusip      value
403                    ISHARES TR  CORE S&P500 ETF  464287200  793190787
597         PROCTER AND GAMBLE CO              COM  742718109  757137228
402                   ISHARES INC   CORE MSCI EMKT  46434G103  679634627
419             JOHNSON & JOHNSON              COM  478160104  630267415
574                   PEPSICO INC              COM  713448108  545697621
..                            ...              ...        ...        ...
453        LIONS GATE ENTMNT CORP         CL A VTG  535919401      97938
194                   CODEXIS INC              COM  192005106      86984
773  VIRGIN GALACTIC HOLDINGS INC              COM  92766K106      70989
554               OPKO HEALTH INC              COM  68375N103      67922
56                       ANGI INC     COM CL A NEW  00183L102      49477

[820 rows x 4 columns]